# Шаблон файла .env
# Скопируйте этот файл в .env и заполните значениями

# API ключ для конвертации валют (получите на https://apilayer.com/marketplace/exchangerates_data-api)
EXCHANGE_API_KEY=VYr667Vvw5GNzxnJiZrtGPF8fR3H7iD5

# Уровень логирования (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=DEBUG